@use "sass:map";

@function toRem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}

$paddings: (all: (),
  vertical: (),
  horizontal: (),
);

$margins: (all: (),
  vertical: (),
  horizontal: (),
);

@for $i from 1 through 12 {
  $paddings: map.set($paddings, "all", "p-#{$i}", toRem(calc(#{$i} * 2)));
  $paddings: map.set($paddings, "vertical", "p-x-#{$i}", toRem(calc(#{$i} * 2)));
  $paddings: map.set($paddings, "horizontal", "p-y-#{$i}", toRem(calc(#{$i} * 2)));

  $margins: map.set($margins, "all", "m-#{$i}", toRem(calc(#{$i} * 2)));
  $margins: map.set($margins, "vertical", "m-#{$i}", toRem(calc(#{$i} * 2)));
  $margins: map.set($margins, "horizontal", "m-#{$i}", toRem(calc(#{$i} * 2)));
}